<ion-view title="My Trips" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">My Trip</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Trip 1</ion-item>
                    <ion-item>Trip 2</ion-item>
                    <ion-item>Trip 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>