<ion-view title="Search Result" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div style="text-align:center;">
            <img src="img/OEKQV24VQTOEF7imvRpw_Screen Shot 2016-04-02 at 10.53.16 PM.png" width="100%" height="auto">
        </div>
        <a ui-sref="tabsController.reviewTrip" id="searchResult-button12" class="button button-positive  button-block">Review My Trip</a>
        <ion-list></ion-list>
    </ion-content>
</ion-view>